{% extends 'bootbase.html.twig' %}

{% block title %}Welcome to login page!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <div class="jumbotron">
        <div class="container" style="max-width: 50%;">
            <h1>Welcome to login page!</h1>

            Please type your login and password here:

        </div>
        <div class="container" style="max-width: 50%;">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default(btn_name) }}</button>
            {{ form_end(form) }}

            Don't have login? Please come <a href="{{ path('register') }}">here</a> to register!
        </div>
    </div>
{% endblock %}
